@charset "UTF-8";
@font-face {
	font-family: "UniversLTStd";
	src: url("../_fontes/UniversLTStd.otf");
}

@font-face {
	font-family: "UniversLTStd-Light";
	src: url("../_fontes/UniversLTStd-Light.otf");
}

@font-face {
	font-family: "HelveticaneueBold";
	src: url("../_fontes/HelveticaneueBold.otf");
}

@font-face {
	font-family: "HelveticaneueThin";
	src: url("../_fontes/HelveticaneueThin.otf");
}

section#corpo h1 {
	font-family: 'UniversLTStd-Light', Arial, sans-serif;
	font-weight: lighter;
	font-size: 36.19pt;
	letter-spacing: 0.1em;	
}

section#corpo h2 {
	font-family: 'UniversLTStd-Light', Arial, sans-serif;
	font-weight: lighter;
	font-size: 26pt;
}

section#color-show{
	position: relative;
	height: 330px;
	background: #000;
	padding: 20px;
	overflow: visible;
	z-index: 200;
}

section#color-show hgroup{
	display: block;
	text-align: left;
	width: 350px;
	margin: 0px 20px;
}

section#color-show h1#titulo-colorshow{
	font-weight: inherit;
	line-height: 1;	
	margin: 0px;
}

section#color-show h1#titulo-colorshow span#super-titulo-colorshow{
	font-size: 14pt;
}

section#color-show h1#titulo-colorshow span#super-titulo-colorshow strong{
	font-size: 44pt;
	font-style: bolder;
}

section#color-show h2#sub-titulo-colorshow {
	font-size: 16pt;
	margin: 0px;
}

section#color-show h2#sub-titulo-colorshow span#sub-titulo-colorshow-1{
	color: #ac2d8e; 
}

section#color-show h1#titulo-colorshow span#marca-registrada{
	font-weight: inherit;
	font-size: 15pt;
	vertical-align: top;
}

section#color-show p{
	display:block;
	text-align: left;
	color: white;
	margin: 30px 20px;
}

section#color-show p #link-comeca-colorshow{
	display: inline-block;
	border: solid #ac2d8e;
	padding: 10px 40px;
	transition: 0.5s;
	-webkit-transition: 0.5s; /* Safari and Chrome */
	-moz-transition: 0.5s; /* Firefox */
	-ms-transition: 0.5s; /* Internet Explorer */
	-o-transition: 0.5s; /* Opera */
}

section#color-show p #link-comeca-colorshow:hover{
	color: #ac2d8e;
}

section#color-show p #link-comeca-colorshow .seta{
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	vertical-align: baseline;
	font-size: 20pt;
}


section#color-show figure{
	display: block;
	position: absolute;
	right: 50px;
	top: 55px;
}

section#experimente-link{
	display: block;
	padding: 30px;
	height: 640px;	
}

section#experimente-link figure#paleta-circulo{
	display: block;
	position: relative;
	padding: 0px;
	overflow: hidden;
}

section#experimente-link figure#paleta-circulo img{
	width: 100%;
	height: 100%;
	margin: 0px;
	z-index: 200;
	border: none;
}

section#experimente-link figure#paleta-circulo figcaption{
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;	
}

section#experimente-link figure#paleta-circulo figcaption hgroup{
	width: 390px;
	text-align: center;
	margin: 180px auto;
}

section#experimente-link figure#paleta-circulo figcaption hgroup h1{
	font-weight: inherit;
	font-size: 36pt;
	margin: 0px;
}

section#experimente-link figure#paleta-circulo figcaption hgroup h2{
	font-weight: inherit;
	font-size: 14pt;
	line-height: 30px;
	margin: 0px;
}

section#experimente-link figure#paleta-circulo figcaption hgroup h2 img#seta-rosa{
	width: 50px;
	height: 50px;
	margin: 20px;
	border: none;
}

section#experimente-link figure#paleta-circulo figcaption hgroup hr{
	margin: 50px auto;
}